<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="google-site-verification" content="q68tnKNQVnziJhnESVES-reUl2c0HxlBFrz6qJekKH8" />
	    <meta name="msvalidate.01" content="A633A1E1EC643F50B424BF4E02FB6E8F" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>License Key Generator Backend</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="robots" content="all,follow">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		<header class="header">
	      <!-- Main Navbar-->
	      <nav class="navbar navbar-expand-lg fixed-top">
	        <div class="search-area">
	          <div class="search-area-inner d-flex align-items-center justify-content-center">
	            
	          </div>
	        </div>
	        <div class="container">
	          <!-- Navbar Brand -->
	          <div class="navbar-header d-flex align-items-center justify-content-between">
	            <!-- Navbar Brand --><a href="/" class="navbar-brand text-color">License Key Gen</a>
	          </div>
	        </div>
	      </nav>
	    </header>

		<section class="description-section">
	      <div class="container">
	          <div class="page-info">
	            <h2 class="mb-3 page-title">License Key Generator</h2>
	            <p class="mt-2 text-white">Web / Mobile Application to generate Software License Keys.</p>
	          </div>
	      </div>
	      
	    </section>

	    <div style="text-align: center; margin-top: 40px;">
		      <a href="https://devconsult.herokuapp.com" class="site-consult">View Website</a>
	      </div>

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  

	</body>
</html>